.home-container {
    display: flex;
    justify-content: center;
    padding-top:80px;
    height: 100%;
    width: 100%;
}
.logo-container {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    
}

.big-logo {
    width: 50%;
    opacity: .85;
    filter: blur(.5px);
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}

.banner-video-container {
    position: fixed;
    overflow: hidden;
    background-color: white;
    top: -25vw;
    z-index: 1;
    border-bottom: 5px solid black ;
}

.banner-video {
    width: 100vw;
    object-fit: cover;
    object-position: center;
    filter: saturate(1.25);
    opacity: .5;
}

.news-container {
    position: absolute;
    top: 50%;
}

@media screen and (max-width: 1200px){
    .big-logo {
        position: relative;
        top: -25px;
        width: 55%;
    }

    /* .news-container {
        position: absolute;
        top: 60vw;
    } */
} 


@media screen and (max-width: 800px) {
    .big-logo {
        top: -40px;
        width: 85%;
    }

    .banner-video-container {
        top: 0vw;
    }
}