.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.title-image {
    width: 100px;
}

.title {
    font-size: 30px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .navbar {
        border-bottom: none;
    
    }

    .title-image {
        position: relative;
        width: 90px;
        left: 60px;
    }

    .title {
        position: relative;
        font-size: 18px;
        left: 60px;
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: rgb(0, 0, 0);
        top: 63px;
        left: 15px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu-dashes {
        margin: -19px 0 -19px 0;
        transition: all 500ms;
    }
    
    .menu-dashes-angle1{
        position: absolute;
        transform: rotate(225deg);
        top: -10px;
        left: 0;
        margin: -20px 0 -20px 0;
        transition: all 500ms;
    }
    
    .menu-dashes-angle2{
        position: absolute;
        transform: rotate(-225deg);
        top: -10px;
        left: 0;
        transition: all 500ms;
        margin: -20px 0 -20px 0;
        filter: opacity(.6);
    }
}