.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: rgb(0, 0, 0) 2px solid;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1225px) {
    .navbar {
        border-bottom: none;
    
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: rgb(0, 0, 0);
        top: 60px;
        left: 15px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu-dashes {
        margin: -19px 0 -19px 0;
        transition: all 500ms;
    }
    
    .menu-dashes-angle1{
        position: absolute;
        transform: rotate(225deg);
        top: -10px;
        left: 0;
        margin: -20px 0 -20px 0;
        transition: all 500ms;
    }
    
    .menu-dashes-angle2{
        position: absolute;
        transform: rotate(-225deg);
        top: -10px;
        left: 0;
        transition: all 500ms;
        margin: -20px 0 -20px 0;
        filter: opacity(.6);
    }
}