.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.title-image {
    width: 100px;
}

.title {
    font-size: 2vw;
}

.menu-icon {
    display: none;
    z-index: 999;
}

.nav-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 12%;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 10%;
    font-size: 2vw;
    z-index: 1;
}

.nav-links {
    color: rgb(3, 3, 3);
    text-decoration: none;
    transition: color 300ms;
}

.nav-links:hover {
    color: rgb(22, 240, 37);
    filter: drop-shadow(10px 0 20px rgb(255, 255, 255));
}


@media screen and (max-width: 800px) {
    .title-image {
        position: absolute;
        top: 12px;
        left: 40px;
        width: 60px;
    }

    .title {
        display: none;
        font-size: 18px;
        left: 60px;
        top: 20px
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: rgb(0, 0, 0);
        top: 18px;
        left: 15px;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .menu-dashes {
        margin-bottom: -12px;
        transition: all 500ms;
    }
    
    .menu-dashes-angle1{
        position: absolute;
        color: white;
        transform: rotate(225deg);
        top: 5px;
        left: 0;
        margin-bottom: -20px;
        transition: all 500ms;
    }
    
    .menu-dashes-angle2{
        position: absolute;
        color: white;
        transform: rotate(-225deg);
        top: 5px;
        left: 0;
        transition: all 500ms;
        margin-bottom: -20px;
        filter: opacity(.6);
    }

    .nav-menu {
        width: 0px;
        height: 100vh;
        position: absolute;
        left: -100px;
        overflow: hidden;
    }

    .nav-menu.active {
        width: 35%;
        height: 100vh;
        padding-top: 10px;
        background-color: rgb(43, 43, 43);
        top: -25px;
        left: 0px;
        transition: width 250ms ease;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1em;
        margin-left: -25px;
    }

    .nav-item {
        position: relative;
        top: -250px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .active {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
}