.news-card {
    width: 80%;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .news-card {
        width: 95%;
    }
}